@charset "UTF-8";

.button-faq {
        cursor: pointer;
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        outline: none;
        color: #000000;
}

.button-faq:disabled {
        color: #000000;
}

.container-faq {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 25px;
}

.info {
        background: #ffffff;
        overflow: hidden;
        transition: .5s;
        line-height: 1.25;
}

.info ul {
        padding: 15px 25px;
}

.toggle-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        width: 100%;
        font-weight: bold;
        font-size: 26px;
        font-family: 'raleway';
        padding: 20px 35px 20px 25px;
        margin-top: 10px;
        text-transform: uppercase;
        text-align: left;
}

.open-animation {
        height: auto;
}

.close-animation {
        height: 0;
}

.show::after {
        content: "";
        width: 15px;
        height: 15px;
        transform: rotate(45deg) translate(0px, -5px);
        position: relative;
        z-index: 2;
        border: 5px solid;
        border-top: transparent;
        border-left: transparent;
}

.hide::after {
        content: "";
        width: 15px;
        height: 15px;
        transform: rotate(-135deg) translate(-5px, 0px);
        position: relative;
        z-index: 2;
        border: 5px solid;
        border-top: transparent;
        border-left: transparent;
}

.info {
        background: #ffffff;
        overflow: hidden;
        /* transition: height .5s; */
        margin-bottom: 10px;
}

.title-faq {
        text-align: center;
        font-size: 42px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 50px;
}

@media screen and (max-width: 550px) {
        .toggle-btn {
                font-size: 22px;
        }
}

@keyframes open {
        0% {
                height: 0;
        }

        100% {
                height: auto;
        }
}

@keyframes close {
        0% {
                height: auto;
        }

        100% {
                height: 0;
        }
}