::after,
::before {
        display: block;
}

.header-nav {
        padding: 10px 5%;
}

.nav {

        width: 100%;
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}

.nav img {

        width: clamp(210px, 90vw, 320px);
        float: left;
        cursor: pointer;
}

.nav > a{
        margin-bottom: 10px;
}

.container-links-nav{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px 30px;
        margin-left: auto;
}

@media (max-width: 1000px) {
        .container-links-nav{
                margin-left: 0;
        }
}

.ul-nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}

.li-nav{
        list-style: none;
        color: #ffffff;
        font-weight: 600;
        margin: 5px 10px;
        width: max-content;
        transition: opacity 0.1s;
}

.active .li-nav:hover{
        opacity: initial;
}

.li-nav:hover{
        opacity: 0.8;
}